* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    padding: 0.75% 8.35%;
    display: grid;
    grid-template-columns: 1fr auto;
    border-bottom: 2px solid rgb(234, 236, 240);
    align-items: center;
}

.variant {
    display: flex;
    align-items: center;
}

.variant span {
    color: rgb(53, 65, 83);
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    padding-left: 16px;
    animation: show_text 8s infinite linear;
}

.variant img {
    width: 32px;
    height: 32px;
    animation: pulse 2s infinite linear;
}

.icon {
    height: 100%;
    width: auto;
    animation: slide_right 1s ease-in;
}

nav {
    display: grid;
    grid-template-columns: 1fr auto;
    margin: 1.96% 8.35% 0 8.35%;
}

.navigation {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: start;
    animation: slide_left 1s ease-in;
}

.buttons {
    border: 1px solid rgb(234, 236, 240);
    border-right: none;
    display: grid;
    align-items: center;
    height: 40px;
}

.buttons a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: rgb(53, 65, 83);
    padding: 0 15px;
}

.buttons:first-child {
    border-radius: 10px 0px 0px 10px;
    background-color: rgb(243, 244, 248);
}

.buttons:last-of-type {
    border-radius: 0px 10px 10px 0px;
    border-right: 1px solid rgb(234, 236, 240);
}



.dropdown {
    position: relative;
    display: inline-block;
    animation: slide_right 1s ease-in;
  }
  
  .dropdown_button {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;

    height: 40px;
    width: 100%;

    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #354153;

    cursor: pointer;
    background-color: white;
    border: 2px solid #EAECF0;
    border-radius: 10px;

    padding: 0px 16px;
  }
  
  .dropdown_button:hover {
    background-color: #F2F4F7;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    border-radius: 10px;
    z-index: 1;
    width: 220px;
    right: 0;
  }
  
  .dropdown-content a {
    text-decoration: none;
    
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #354153;
    padding: 6px 16px;
    margin: 4px;
    border-radius: 6px;
    
    display: block;
    transition: background-color 0.3s ease;
  }

  .dropdown-content a:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .dropdown-content a:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .dropdown-content a:hover {
    background-color: #F2F4F7;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }



main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(376px, 0.7fr));
    justify-content: center;
    gap: 30px;
    margin: 1.1% 8.35% 5% 8.35%;
    animation: slide_up 1s forwards;
}

article {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(234, 236, 240);
    border-radius: 10px;
    aspect-ratio: 376 / 600;
    padding: 25px 20px;
    overflow: hidden;
}

article:hover {
    animation: for_article 1s forwards;
}

.card_header {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    color: rgb(102, 112, 133);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 14px;
}

.pictures {
    aspect-ratio: 320 / 225;
}

.pictures img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.text_1, .text_2 {
    padding-top: 15px;
}

.text_2 {
    overflow: hidden;
}

.text_1 p {
    color: rgb(13, 20, 33);
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
}
.text_2 p {
    color: rgb(53, 65, 83);
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 20px;
}

footer {
    margin-left: 8.35%;
    margin-right: 8.35%;
    margin-top: auto;
    padding-bottom: 24px;
    animation: slide_up 1.2s ease-in;
}

footer p {
    color: rgb(53, 65, 83);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

@media (width < 800px) {
    nav {
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;
        margin: 1.96% 8.35% 1% 8.35%;
    }
    .navigation {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .buttons a {
        text-align: center;
    }
    .dropdown_button {
        justify-content: space-between;
    }
    .dropdown-content {
        width: 100%;
    }
}

@media (width < 635px) {
    .navigation {
        grid-template-columns: repeat(2, 1fr);
    }
    .buttons:first-child {
        border-radius: 10px 0 0 0;
        background-color: rgb(243, 244, 248);
    }
    .buttons:nth-child(2) {
        border-right: 1px solid rgb(234, 236, 240);
        border-radius: 0 10px 0 0;
    }
    .buttons:nth-child(3) {
        border-radius: 0 0 0 10px;
    }
    .buttons:last-of-type {
        border-radius: 0 0 10px 0;
        border-right: 1px solid rgb(234, 236, 240);
    }
    main {
        grid-template-columns: repeat(auto-fit, minmax(299px, 0.7fr));
        margin: 1% 8.35% 5% 8.35%;
    }
    article {
        aspect-ratio: 376 / 710;
    }
}

@keyframes pulse {
    0% {
        scale: 1;
    }
    50% {
        scale: 1.2;
    }
    100% {
        scale: 1;
    }
}

@keyframes show_text {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }

}

@keyframes slide_up {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes slide_left {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes slide_right {
    0% {
        transform: translateX(500%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes for_article {
    100% {
        background-color: #F2F4F7;
        transform: scale(1.05);
    }
}